@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards {
    width: 70vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px lightblue solid;
    background-image: linear-gradient(to top, rgba(255,0,0,0) 50%, hsla(214, 100%, 50%, 0.404));
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.card {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: 1px lightblue solid;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius:  14px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.header {
    height: 30%;
    background: lightblue;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.numbers {
    border-radius: 100%;
    padding: 5px;
    color: lightblue;
    background-color: #fff;
}

.main_heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact_us {
    margin-right: 5rem;
}
.account {
    margin-top: 0.5rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 2px 16px;
}

.container_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    font-family: 'Roboto', sans-serif;
} 

.step {
    font-size: 15px;
    font-weight: 400;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
}

.info {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

.label_heading {
    display: flex;
    flex-direction: row;
}

.input_field {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input[type=text], input[type=email], input[type=number], input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  margin: 10px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

input[type=text]:focus{
  border: 2px solid lightblue;
}

input[type=number]:focus{
    border: 2px solid lightblue;
}
input[type=email]:focus{
    border: 2px solid lightblue;
}
input[type=password]:focus{
    border: 2px solid lightblue;
}
sup{
    color: darkturquoise;
}

.firstname {
    margin-left: 2.8rem;
    font-family: 'Roboto', sans-serif;
}
.lastname {
    margin-left: 15rem;
    font-family: 'Roboto', sans-serif;
}
.email {
    margin-left: 2.8rem;
    font-family: 'Roboto', sans-serif;
}
.phone_number {
    margin-left: 17.5rem;
    font-family: 'Roboto', sans-serif;
}
.password {
    margin-left: 2.8rem;
    font-family: 'Roboto', sans-serif;
}
.cpassword {
    margin-left: 15.8rem;
    font-family: 'Roboto', sans-serif;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-left: 8rem; */
    /* width: 50%; */
}
.login {
    background-color: #fff;
    border: none;
    color: blue;
    /* padding: 10px 20px; */
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 7rem;
    font-family: 'Roboto', sans-serif;
}
.next_step {
    background-color: #42d3dd;
    border: none;
    color: white;
    padding: 10px;
    width: 17%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /* margin: 4px 2px; */
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 7rem;
    font-family: 'Roboto', sans-serif;
}
